.border_validate_err {
    border: 1px solid red !important;
}

.tr_select
, .tr_click
, .tr_click2 {
    background-color : #9cb8ff
}

.fileBox img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 200px;
}

.fileBox2 img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    height: 100px;
}

.swtoolImg img {
    height: 134px;
    width: 117px;
}

/* calendar */
/* input, select, button, textarea {
    font-family: 'Noto Sans Korean', 'Noto Sans KR', 'Malgun Gothic','맑은 고딕','돋움',Dotum,'굴림',Gulim,Tahoma,Verdana,Geneva,sans-serif,Apple Gothic,AppleGothic;
    font-size: 5px;
    font-weight: 400;
    color: #505050;
    line-height: 30px;
    letter-spacing: -0.03em;
    box-sizing: border-box;
    vertical-align: middle;
} */



/* .react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: -0.25em 0.5em !important ;
    background: none;
} */